<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
  <script nomodule src="https://cdn.jsdelivr.net/npm/promise-polyfill@8.0.0/dist/polyfill.min.js" integrity="sha256-aRr7edWsi326TVnGgQ1aH1z0Q6+sfP774abvK/vsYo4=" crossorigin="anonymous"></script>
  <script nomodule src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js" integrity="sha256-eOUokb/RjDw7kS+vDwbatNrLN8BIvvEhlLM5yogcDIo=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@ubw/mediatum-query-builder@0.1.1/umd/ubw-mediatum-query-builder.min.js" crossorigin="anonymous"></script>
  </body>
</html>
